{% extends 'base.html' %}

{% block content %}
<div class="row text-center"> 
  {% for book in books %}
  <!-- book column -->
  <div class="book-box col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="book-wrapper">
          <img class="img-responsive" src="/{{ book.pic }}" alt="{{ book.title }}">
            <a href="/book/{{ book.id }}" class="book-link cover boxcaption">
              <h3>{{ book.title }}</h3>
              <p>{{ book.description }}</p>
            </a>
      </div>
  </div>
  {% empty %}
    <h3>No books Found!</h3>
  {% endfor %}

</div>

{% endblock %}