{% include "base.html" %}

{% block header %}{% endblock header %}

{% block content %}
  <h2 class="text-center">Change Password</h2>
  <div class="panel panel-default pnl-fnt auth-pnl">
  <div class="panel-body">
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}

    <button id="login-btn" class="btn btn-primary" type="submit">Change Password</button>
  </form>
</div>
</div>
{% endblock %}